/* comments look like this in CSS files */
body{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}
p {
font-size: 1.5em;
}

#about {
  color: #606060;            /* white */
  margin: 0;
  padding: 0.1em 0; /* 0.5em padding on top/bottom, 0 padding on left/right */
} 
#courseload {
  color: #000000;            
  margin: 0;
  padding: 0.1em 0; /* 0.5em padding on top/bottom, 0 padding on left/right */
} 

#courseload a:hover {
  margin: 0;
  padding: 0.5em;
  color: #000000;
  text-decoration: none;
}
#navbar {
  color: #ffffff;            /* white */
  background-color: #000000; /* black */
  margin: 0;
  padding: 1em 0; /* 0.5em padding on top/bottom, 0 padding on left/right */
}

a {
color: #ffffff;
}

#photo {
    width: 20%;
    height: 20%;
}

#navbar a:hover {
  margin: 0;
  padding: 0em;
  color: #ffffff;
  text-decoration: none;
}
main {
  padding: 0.5em;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}